<form [formGroup]="caseForm" novalidate (ngSubmit)="onSubmit()"
 fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="10px">
    
    <mat-card class="create-event-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-progress-bar [mode]="progressBarMode" value="0"
        [style.visibility]="progressBarMode ? 'visible' : 'hidden'">
        </mat-progress-bar>

        <mat-toolbar color="primary" fxLayoutAlign="center center">
            <span>{{ title }}</span>
        </mat-toolbar>

        <mat-card-content style="padding: 0px 10px 0px 10px;">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap.gt-sm="10px">
                <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
                    <mat-label>Case Number *</mat-label>
                    <input matInput placeholder="Case number" formControlName="caseNumber" />
                    <mat-error *ngIf="caseForm.controls['caseNumber'].hasError('required')">
                        Case Number is <strong>required</strong>
                    </mat-error>
                    <mat-error
                    *ngIf="caseForm.controls['caseNumber'].hasError('minlength') && !caseForm.controls['caseNumber'].hasError('required')">
                    Case Number should have more than <strong>4 Characters</strong>
                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
                    <mat-label>Type *</mat-label>
                    <input matInput placeholder="Case Type" formControlName="type" />
                    <mat-error *ngIf="caseForm.controls['type'].hasError('required')">
                        Type is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="48" fxFlex.xs="100">
                    <mat-label>Client</mat-label>
                    <input matInput placeholder="Pick one client" formControlName="clientId" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayFn(filteredOptions | async)">
                        <mat-option *ngFor="let client of filteredOptions | async" [value]="client.id">
                        {{client.firstName}} {{client.lastName}} ({{client.phone}})
                        </mat-option>

                    </mat-autocomplete>
                    <mat-error *ngIf="caseForm.controls['clientId'].hasError('required')">
                        Client is <strong>required</strong>
                    </mat-error>                    
                    <mat-error *ngIf="caseForm.controls['clientId'].hasError('incorrect')">
                        You have to pick a Client
                    </mat-error>
                </mat-form-field>  
            </div>
        </mat-card-content>

        <mat-card-actions style="padding: 0px;">
            <button mat-flat-button (click)="this.router.navigate(['/cases'])">Cancel</button>
            <button mat-flat-button color="primary" type="submit"> Save </button>
            <!-- <button mat-flat-button (click)="setValue()">Set Value</button> -->
        </mat-card-actions>
    </mat-card>

</form>
