:host {
    height: 100%;
}

.container-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.mat-custom-authen {
    width: 400px;
}

mat-card {
    &.custom-card {
      max-width: 800px;
    }
    .mat-card-actions {
      margin: 0px !important;
    }
  
    & h1 {
      color: var(--primary);
    }
  }
