  
<div class="container-wrapper" fxLayout="column" fxLayoutAlign="start center">    
    <section class="first-section">
        <h1 class="section-title">How to Process <span> Documents.</span></h1>
        <p class="section-subtitle">For better understanding watch this video</p>

        <div class="video-size">
            <div class="video-wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hLBOKY2MLXw" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</div>