:host {
    height: 100%;
}

.container-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-image: url("/clientapp/assets/uploadBackground.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: cover;
}

.mat-custom-authen {
    width: 400px;
}

.error-message {
    background-color: var(--warm);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
  }