<mat-progress-bar style="position: fixed;" [mode]="progressBarMode" value="0"
    [style.visibility]="progressBarMode ? 'visible' : 'hidden'">
</mat-progress-bar>

<form [formGroup]="fillForm" class="container" (ngSubmit)="onSubmit()"
fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="10px">

    <mat-card class="create-event-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-toolbar color="primary" fxLayoutAlign="center center">
            <span>Fill Document</span>
        </mat-toolbar>

        <div formArrayName="documentVariables" class="ngFor-container mt-4">
            <mat-card-content style="padding: 0px 10px 0px 10px;">
                <div *ngIf="getExpenseForm().length" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap.gt-sm="10px">
                    <mat-form-field appearance="outline" fxFlex="24" fxFlex.xs="100"  *ngFor="let expenseCtrl of getExpenseForm(); let i = index"
                    [formGroupName]="i" [ngClass]="{odd: i%2 === 0, padding: i ===0}">
                        <mat-label> Change value of
                             <b style="font-size: medium;">
                                {{getPropertyName(expenseCtrl.value)}}
                             </b>
                        </mat-label>                
                        <input matInput  class="text-right" formControlName="{{ getPropertyName(expenseCtrl.value)}}">
                    </mat-form-field>
                </div>
            </mat-card-content>
        </div>

        <mat-card-actions style="padding: 0px;">
            <button mat-flat-button color="primary" type="submit"> Process & Download </button>
        </mat-card-actions>
    </mat-card>
</form>